@import "base.scss";

.authform {
  width: 100%;
  @media (max-width: 767px) {
    padding: 0px 26px;
  }
  .authform-text {
    margin-bottom: 24px;
  }
  .auth-form-tab-container {
    background: rgba(47, 91, 66, 0.6);
    border-radius: 33px;
    max-width: 329px;
    width: 100%;
    margin-bottom: 52px;
    padding: 10px 13px;   
    align-items: center;
    .auth-form-tab {
      @extend .auth-text;
      color: white;
      padding: 8px 51px;
      cursor: pointer;
      background-color: $green;
      border-radius: 33px;
      margin-right: 45px;
    }
    .auth-form-tab-two{
      @extend .auth-text;
      color: white;
    }
  }
  .auth-form-text {
    color: #5b5b5b;
    text-align: left;
    max-width: 454px;
    width: 100%;
    margin-bottom: 42px;
  }
  .remember {
    width: 100%;
    margin-bottom: 62px;
    .authform-checbox {
      margin-right: 10px;
    }
  }
  .input-margin{
    margin-bottom: 30px;
  }

  .input-margin-two{
    margin-bottom: 22px;
  }
}
